<div class="one-page">
    <div class="menu">
        <nav class="navbar navbar-expand-lg container px-3 py-3 rounded">
            <div class="fs-huge fw-600">Landing Page</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="list-inline mb-0">
            <li class="list-inline-item cursor-pointer text-capitalize" *ngFor="let of_menu of menuOnePage"
            (click)="onPage(of_menu.menu)">
                  <i [class]="of_menu.icon+' me-2'"></i>{{of_menu.menu}}</li>
              <li class="list-inline-item cursor-pointer"><i class="fa-solid fa-user"></i></li>
              </ul>
        </div>
    </nav>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div>masuk ini apapapa</div>
    </div>
    </div>
   

    <section>
        <!-- Dashbord -->
        <div id="profile" tabindex="0">
            <div class="title">Profile</div>
            <div class="row g-3">
              <div class="col-md-8 col-12">
                <div class="d-flex">
                    <div class="">
                        <div class="fs-1 fw-600">Hy I am</div>
                        <div class="fs-huge text-success">Setiawan</div>
                    </div>
                    <div class="dist d-flex align-items-center">
                        <div>
                            <div class="fs-small fw-400"><span class="fw-600">Nama Lengkap :</span> Yayuk setiawan</div>
                            <div class="fs-small fw-400"><span class="fw-600">Lahir :</span> wonogiri, 19-08-1995 ( 28 Tahun )</div>
                            <div class="fs-small fw-400"><span class="fw-600">Alamat :</span> Jl.Kesehatan Rt 006/011 Kel.Gedong Kec.Pasar Rebo
                                Jakarta Timur Dki Jakarta, 13760
                            </div>
                            <!-- <ul class="list-inline mobile__scroll d-md-flex position-relative mb-0">
                                <li class="list-inline-item d-inline-block" [class.hr]="idx > 0"
                                *ngFor="let of_socmed of data.socmed; let idx = index" (click)="redirectToLink(of_socmed.link)">
                                <img class="img-medium" style="height: 1rem; width: 1rem; object-fit: fill" src="/assets/image/platform/{{of_socmed.socmed}}.svg" alt="">
                                <span class="fs-mini text-muted ms-1"><em>{{of_socmed.index}}</em></span>
                                </li>
                              </ul> -->
                            <!-- <div class="d-flex align-items-center">
                                <div class="fs-small fw-400 cursor-pointer img-tmp d-flex align-items-center" [class.hr]="idx > 0"
                                (click)="redirectToLink(of_socmed.link)"
                                *ngFor="let of_socmed of data.socmed; let idx = index">
                                    <img class="img-medium" style="height: 1rem; width: 1rem; object-fit: fill" src="/assets/image/platform/{{of_socmed.socmed}}.svg" alt="">
                                    <span class="fs-mini text-muted ms-1"><em>{{of_socmed.index}}</em></span>
                                </div>
                            </div> -->
                          
                        </div>
                    </div>
                </div>
                    <div class="fs-small text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et alias omnis perferendis. Modi hic odio adipisci amet voluptatum quisquam perferendis, iste, recusandae unde optio velit eos culpa eum. Veritatis, beatae?
                    </div>
                    <div class="fs-small fw-600 py-2">Education
                     <i class="fa-regular fa-square-info"></i>
                    </div>
                    <ul class="list-inline mobile__scroll d-md-flex position-relative mb-0">
                        <li class="list-inline-item d-inline-block card w-100 hover-animasi"
                        *ngFor="let of_edu of data.education">
                            <div class="fs-medium fw-600"><i class="fa-sharp fa-solid fa-school me-2"></i>{{of_edu.education}}</div>
                            <div class="fs-small fw-400 my-1"><i class="fa-regular fa-calendar-days me-2"></i>{{of_edu.start}}</div>
                            <div class="fs-small cursor-pointer" (click)="redirectToLink(of_edu.link)"
                            style="white-space: pre-line;"><i class="fa-sharp fa-solid fa-location-dot me-2"></i>{{of_edu.alamat}}</div>
                        </li>
                      </ul>
              </div>
              <div class="col-md-4 col-12">
                <div class="fs-small fw-600 py-2">Gallery
                 <i class="fa-regular fa-square-info"></i>
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <div class="img-tmp">
                        <img class="img-large" src="assets/image/me/img1.jpg" alt="">
                    </div>
                    <div class="img-tmp d-flex align-items-center">
                        <img class="img-large" src="assets/image/me/img2.jpg" alt="">
                    </div>
                    <div class="img-tmp">
                        <img class="img-large" src="assets/image/me/img3.jpg" alt="">
                    </div>
                    <div class="img-tmp">
                        <img class="img-large" src="assets/image/me/img3.jpg" alt="">
                    </div>
                    <div class="d-flex flex-wrap gap-1">
                        <div class="img-tmp h-auto" *ngFor="let item of [0,1,2,3]">
                            <img class="img-medium" src="../../../assets/image/me/img2.jpg" alt="">
                        </div>
                    </div>
                </div>
               
              </div>
            </div>
        </div>
        <!-- End -->

        <!-- Profile -->
        <div id="dashbord" tabindex="1">
            <div  class="title">Dashboard</div>
            <div class="row g-3">
              <div class="col-md-6 col-12">
                <div class="fs-small fw-600 py-2">Skill</div>
                <div class="row g-2">
                    <div class="col-md-3 col-12" *ngFor="let of_skill of data.skill">
                        <div class="card text-center fw-600 fs-small">
                            {{of_skill.skill}}
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="box-card">
                    <div  class="fs-small fw-600 py-2">Pengalaman kerja</div>
                </div>
              </div>
            </div>
        </div>
        <!-- End -->

              <!-- Profile -->
              <div id="info" tabindex="2">
                <div  class="title">Info</div>
                <div class="row g-2">
                  <div class="col-md-6 col-12">
                    <div class="box-card"></div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="box-card"></div>
                  </div>
                </div>
            </div>
            <!-- End -->
    </section>
</div>
