


nav.navbar{
  background-color: white;
  box-shadow: 0 0 1rem 0rem #d4cece;
  position: fixed;
  left: 0;
  margin: auto;
  right: 0;
  top: 1rem;
  z-index: 999;
}

section{
  padding: 4rem 2rem;
}

.dist::before{
  content: "";
  background-color: #33ff356e;
  height: 7rem;
  width: 0.15rem;
  display: inline-block;
  margin: 0 1rem;
}

.hr::before{
  content: "";
  background-color: #aeb4ae6e;
  height: 1.5rem;
  width: 0.1rem;
  display: inline-block;
  margin: 0 0.5rem 0 0.9rem;
}