.fs{
    &-mini{font-size: .75rem !important} /** 12 px*/
    &-tiny{font-size: .813rem !important} /** 13 px*/
    &-small{font-size: .875rem !important} /** 14px*/
    &-medium{font-size: .938rem !important} /** 15px*/
    &-large{font-size: 1rem !important} /** 16px*/
    &-big{font-size: 1.063rem !important} /** 18px*/
    &-huge{font-size: 1.313rem !important} /** 21px*/
    &-massive{font-size:1.438rem !important} /** 23px*/
  }

  .fw{
    &-400{font-weight: 400;}
    &-500{font-weight: 500;}
    &-600{font-weight: 600;}
  }

  .cursor-pointer{
    cursor: pointer !important;
  }

  .box-card{
    border: 1px solid #E8EEF1;
    border-radius: 3px;
    background-color: #e6e2e247;
    height: 20rem;
  }

  :focus-visible {
    outline: none;
}

.title{
  font-size: 1.063rem;
  font-weight: 500;
  margin: 1rem 0rem;
}

.txt{
  &-muted{color: #e6e2e247;}
}

.card{
  padding: 0.5rem 0.5rem;
  box-shadow: 0 0 0.3rem 0 var(--bs-gray-200);
}

.img-tmp{
  position: relative;
  height: 100%;
  >.img-large{
    height: 8rem;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
  }
  >.img-medium{
    height: 4rem;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
  }
}