@media all and (max-width: 768px) {
    .mobile__scroll{
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none;  /* IE dan Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
       }
}
